node_modules
.env
src/ArbTokenLists/*
src/FullList/*
dist
!src/ArbTokenLists/arbed_arb_whitelist_era.json


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/Assets/orbitChainsData.json
